<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display acess</h1>
        <table border="4px">
            <tr>
                <th>pk value</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            {% for ao in acess %}
              <tr>
                <td>{{ao.pk}}</td>
                <td>{{ao.name}}</td>
                <td>{{ao.Author}}</td>
                <td>{{ao.Date}}</td>
                </tr>
            {% endfor %}
            </table>

    </center>
    
</body>
</html>